{% inculde directory ~ '/partials/header.html.twig' %}

<div class="container">

	{{ page.navigation}}

	<main role="main">
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		<div class="row">
			<!-- sidebar -->
			<div class="col-xs-12 col-sm-4 well">
				{% if page.sidebar %}
					<aside class="layout-sidebar-first" role="complementary">
						{{ page.sidebar }}
					</aside>
				{% endif %}
			</div>

			<!-- main content -->
			<div class="col-xs-12 col-sm-8">
				<div class="layout-content">
					{{ page.content }}
				</div>
			</div>

		</div>

	</main>

</div>{# /.layout-container #}

{% inculde directory ~ '/partials/footer.html.twig' %}



