

<header role="banner">
	{{ page.header }}
	{{ page.header_right }}
	{{ page.main_navigation }}
</header>

<div class="container">
	<main role="main">
		<a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

		<div class="row">
			<!-- main content -->
			<div class="col-xs-12">
				<div class="layout-content">
					{{ page.content }}
				</div>
			</div>

		</div>

	</main>

</div>

