<div class="container">
	<header role="banner">
		<div class="pull-left">
			{{ page.header }}
		</div>
		<div class="pull-right">
			{{ page.header_right }}
		</div>
		<div class="main-navigation">
			{{ page.main_navigation }}
		</div>
	</header>
</div>

{{ page.navigation }}